#
#import(methods)
importFrom("methods", "as")
importFrom("stats", "as.formula", "reshape", "spline")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "coefficients", "complete.cases", "lm")
import(sp,
  spacetime,
  rgdal,
  raster,
  snowfall,
  doParallel,
  gstat,
  plyr,
  nabor,
  CAST,
  ranger,
  caret,
  DescTools,
  sf,
  sftime,
  terra)
export(meteo2STFDF, temp_geom, tgeom2STFDF, tiling, rfillspgaps, rfilltimegaps, rm.dupl, pred.strk.old, pred.strk, pred.strk1, cv.strk, data.prepare, acc.metric.fun, near.obs, near.obs.soil, rfsi, pred.rfsi, tune.rfsi, cv.rfsi)

