#
#import(methods)
importFrom("methods", "as")
importFrom("stats", "as.formula", "reshape", "spline")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(sp,
  spacetime,
  rgdal,
  raster,
  snowfall,
  gstat,
  plyr,
  nabor,
  CAST,
  ranger,
  caret)
export(meteo2STFDF, tgeom2STFDF, tiling, rfillspgaps, rfilltimegaps, rm.dupl, pred.strk.old, pred.strk, pred.strk1, cv.strk, acc.metric.fun, near.obs, rfsi, pred.rfsi, tune.rfsi, cv.rfsi)

